body {
    font-family: sans-serif;
    background-color: #ffffff;
    color: #333333;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    min-height: 100vh;
}

.menu {
    background-color: #000000;
    flex-direction: column;
    color: #ffffff;
    display: flex;
}

.menu-links a:hover {
    text-decoration: underline;
}

.content {
    padding: 40px;
}

ul ul {
    margin-left: 20px;
    list-style-type: circle;
}

canvas {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    width: auto;
    /* display: block; Ensures no inline spacing issues */
}

#sketch-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}