body {
    font-family: sans-serif;
    background-color: #ffffff;
    color: #333333;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 100vh;
}

.menu {
    background-color: #000000;
    flex-direction: column;
    color: #ffffff;
    display: flex;
}

.menu-links a:hover {
    text-decoration: underline;
}

.content {
    padding: 40px;
}

ul ul {
    margin-left: 20px;
    list-style-type: circle;
}

/* .portrait:hover {
} */

.menu:hover {
    background-color: #ff0038;
}

.menu:hover .portrait {
    filter: grayscale(100%) sepia(50%) hue-rotate(-30deg) saturate(200%);
}